# database
asyncpg
sqlalchemy[asyncio]
sqlmodel
alembic

# API Server
fastapi[all]
uvicorn

# auth
fastapi-users[sqlalchemy2]
fastapi-users-db-sqlmodel
oso
sqlalchemy-oso

# plugins
fastapi-pagination[asyncpg]

# utils
httpx

# dev
pytest
pytest-asyncio
aiosqlite
requests